
:host{
    background: #1a1c1e;
    color: #e4e7df;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    height: 100px;
    padding-top: 5px;
    flex: 1 0 100px;
    margin-top: 20px;
}

.global-footer-component {
    padding: 7px;
}