<ng-container *ngIf="showReal">
    <footer>
        <div class="global-footer-component">
            <a aria-label="Navigate to Williams Sonoma's Facebook page"
               href="https://www.facebook.com/WilliamsSonoma/"><i class="fa fa-facebook fa-lg fa-fw"
                                                                  aria-hidden="true"> </i> </a>
            <span>Follow us on Facebook</span>
        </div>
        <div class="global-footer-component">
            <a aria-label="Navigate to Williams Sonoma's Twitter page" href="https://twitter.com/WilliamsSonoma"><i
                    class="fa fa-twitter fa-lg fa-fw" aria-hidden="true"> </i> </a>
            <span>Follow us on Twitter</span>
        </div>

    </footer>
</ng-container>


