.productSelectorThumb{
    width: 300px;
    height: 169px;
    padding: 30px 10px 0 10px;
}


.productSelectorItem {
    display: flex;
    flex-flow: column wrap;
}

.productTitle {
    background-color: #fafafa;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
}

