:host{
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    font-weight: normal;
}

@media (min-width: 1000px) {

    :host{
        left: 0;
        right: 0;
        margin: auto;
        width: 990px;
        font-weight: normal;
    }
}

#main-header{
    width: 100%;
    text-align: center;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
}






