:host{
    /*left: 50%;*/
    /*transform: translate(50%);*/
    /*position: relative;*/
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    font-weight: normal;
    /*position: absolute;*/
    /*border: 1px solid black;*/
}

@media (min-width: 1000px) {

    :host{
        /*left: 50%;*/
        /*transform: translate(50%);*/
        /*position: relative;*/
        left: 0;
        right: 0;
        margin: auto;
        width: 990px;
        font-weight: normal;

        /*position: absolute;*/
        /*border: 1px solid black;*/
    }
}

#main-header{
    width: 100%;
    text-align: center;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
}






