<menu>
    <ng-container class="menu-component">

        <button mat-button [matMenuTriggerFor]="products">Products</button>

        <mat-menu #products="matMenu">
            <button mat-menu-item (click)="homeSelected()">All</button>
            <button mat-menu-item  (click)="flagTypeSelected('organic')">Organic</button>
            <button mat-menu-item  (click)="flagTypeSelected('fairTrade')">Fair Trade</button>
        </mat-menu>


        <mat-menu #orderProductsBy="matMenu">
            <button mat-menu-item (click)="orderProductsBySelected('CHEAPEST_FIRST')">Price</button>
            <button mat-menu-item (click)="orderProductsBySelected('ALPHABETICAL')">Alphabetical</button>
        </mat-menu>


        <span *ngIf="globals.inCover">
            <button mat-button [matMenuTriggerFor]="orderProductsBy">Order By</button>
        </span>


    </ng-container>
</menu>
<h1 id="main-header">{{globals.mainHeader}}</h1>

