<ng-container>
    <div class="productcontainer-main">

            <ng-container *ngIf="isBrowser">
                <img [src]="heroImage">
            </ng-container>
            <br>

            <div class="product-detail">
                <div class="priceContainer">
                    <strong>Price:&nbsp;</strong>${{product.priceRange.selling.low}}&nbsp;-&nbsp;${{product.priceRange.selling.high}}
                </div>
                <div class="tagsContainer">
                    <strong>Tags:&nbsp;</strong>
                    <span class="tagBorder" *ngFor="let tag of this.tags">{{tag}}</span>
                </div>

                <owl-carousel id="product-slider" [options]="slideOptions" [items]="slideImages" [carouselClasses]="['owl-theme', 'sliding']" >
                    <div class="item" *ngFor="let img of slideImages">
                        <div style="align-content: flex-start; padding-right: 10px;" (click)="thumbHovered(img)">
                            <img style="height:100px; width:auto" src="{{img}}"/>
                        </div>
                    </div>
                </owl-carousel>

            </div>


        </div>

</ng-container>