/* repeat this for every top router-outlet */
:host{
    overflow-y: scroll;
    color: #1a1c1e;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    padding-top: 5px;
}

.productcontainer-main{
    display: flex;
    order: 0;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
}

@media (min-width: 1000px) {

    .productcontainer-main{
        display: flex;
        order: 0;
        width: 1000px;
        flex-flow: row wrap;
        justify-content: center;
    }

}


.product-detail {
    display: flex;
    width: 90%;
    flex: 1 0 auto;
    flex-flow: column nowrap;
    align-items: center;
    padding: 20px;
}



.description{
    text-align: center;
    width: 100%;
    margin: 10px;
    padding: 5px;
    font-size: small;
}

.priceContainer {
    height: 2em;
}

.tagsContainer {
    height: 2em;
    padding: 10px;
}

.tagBorder {
    border-radius: 10px;
    padding: 5px;
    background-color: lightgrey;
    margin-right: 8px;
}

